/* Reset dei margini e dei padding per il body */
body {
    margin: 0;
    padding: 0;
}

/* Stile dell'header */
header {
    background-color: #232f3e;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 24px;
}

/* Stile del form di ricerca */
#search-form {
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-input:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #FF9900;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Stile della lista di prodotti */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 18px;
}

.product p {
    font-size: 14px;
}

/* Stile per il prezzo */
.product span {
    font-size: 16px;
    font-weight: bold;
    color: #FF9900;
}
