
body {
  margin: 0;
  padding: 0;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #232f3e;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}
.search-and-cart{
  display: flex;
  justify-content:space-around;
  align-items: center;

}

h1 {
  font-size: 24px;
}


#search-form {
  margin: 20px 0;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-input:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #FF9900;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}
button:hover {
  color: red;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h2 {
  font-size: 18px;
}

.product p {
  font-size: 14px;
}


.product span {
  font-size: 16px;
  font-weight: bold;
  color: #FF9900;
}
img{
  width: auto;
  height: 200px;
}
.select-categories{
  display: flex;
  flex-direction: column;
}
.select-categories> select{
 height: 30px;
 border-radius: 10px;
}
#btn-product{
  margin-left: 10px;
}


.cart-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #232f3e;
  color: #ffffff;

}
.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;

}

.cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
}
.cart-img{
  width: 100px;
  height: 70px;
}

.cart-item h3 {
  font-size: 18px;
  margin: 0;
}

.cart-item p {
  font-size: 14px;
  color: #888;
  margin: 10px 0;
}

.cart-item span {
  font-size: 16px;
}
.cart-btn, .cart-button{
  margin-left: 0px;
  margin-right: 5px;
  transition: transform 0.5s;
}
.cart-btn:hover, .cart-button:hover{
  transform: scale(1.1);
}

a{
  text-decoration: none;
  color: white;
 
}
a:hover{
  color: red;
}