.App {
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.comp1{
  height: 500px;
  width: 100%;
  background-color: aqua;
  overflow: auto;
 
}
.comp2{
  height: 500px;
  width: 100%;
  background-color: rgb(208, 61, 35);
  overflow: auto;
 
}
h3{
  font-size: 12px;
}
.posts{
  border: 1px solid black;
}