/* * {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

.ora {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 1em;
  flex-direction: column;
  width: 100px;
  
}
.ora > .btn-event > button{
  border: 1px solid black;
}

.ora input {
  background-color: rgb(240, 240, 240);
  border: none;
}

.ora button {
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 0.3em;
  text-align: center;
  cursor: pointer;
  max-width: 90%;
}

.day {
  display: grid;
  gap: 0.3em;
  height: 800px;
  background-color: rgb(162, 160, 160);
  overflow: auto;
  padding: 1em;
  gap: 1em;
}

.Month {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}
.year{
  display: flex;
  align-items: center;
  text-align: center;
}
.year > button {
  height: 100px;
}
.week {
  display: flex;
  flex-wrap: wrap;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  height: 100%;

}

.hour-container {
  border: 1px solid black;
  display: grid;
  height: auto;
  width: 130px;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5px;
  cursor: pointer;
}

.hour-and-btn {
  padding: 5px;
  display: flex;
  flex-direction: column;

}

.hour-and-btn>div:nth-child(2) {
  margin-top: 5px;
}

.hour-and-btn>div>button {
  margin-left: 5px;
  cursor: pointer;
}

.add-delete-event {
  display: none;
}

.event {
  padding: 5px;
}

.week-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.day-container {
  margin: 5px;
  height: 100%;
}

.day-container:hover,
.hour-container:hover {
  border: 1px solid red;
}

