*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.container{
   display: grid;
   grid-template-columns: 1fr 3fr; 
   width: 100%;
   height: 100vh;
    gap: 10px;
  
}
.main-container{
    display: grid;
    grid-template-rows: 3fr 1fr;  
    margin-right: 10px;
    margin-top: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
   
}
.main{
    background-color: aqua;
    border-radius: 25px;
    display: flex;
    padding-left: 10px;
    align-items: center;
   
}
.main > .details-container > div{
    border: 1px solid black;
    align-self: flex-start;
}
.main > .details-container > div:nth-child(1){
    align-self: flex-start;
}
.playlist{
    background-color: rgb(105, 105, 106);
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    
    
}
.playlist>h4{
    text-align: center;
}
.details-container{
    display: flex;
    flex-direction: column;
  
}

.playbar{
    background-color: brown;
    border-radius: 25px;
}
img{
    width: 200px;
   height: auto;
}